[package]
name = "lsm"
version = "0.2.0"
authors = ["Kai Mast <kaimast@cs.cornell.edu>"]
edition = "2021"
repository = "https://github.com/kaimast/lsm-rs"
description = "An implementation of log-structured merge trees in pure Rust"
license = "MIT"
readme = "README.md"
keywords = ["storage", "database", "async"]

[dependencies]
lru = "0.7"
parking_lot = { version="0.11" }
bincode = { version="^1.3" }
serde = { version="1", features=["derive"] }
serde_bytes = "0.11"
log = "0.4"
futures = "0.3"
snap = { version="1", optional=true }
async-trait = "0.1"
cfg-if = "1"
tracing = { git="https://github.com/tokio-rs/tracing.git", default-features=false, features=["attributes"] }
tracing-futures = "0.2"

[dependencies.tokio]
version="1"
default-features=false
features=["rt-multi-thread", "io-util", "sync", "macros"]

[dev-dependencies]
clap = "3"
env_logger = "0.7"
tempfile = "3"
tracing-subscriber = { git="https://github.com/tokio-rs/tracing.git", default-features=false, features=["fmt"] }
tracing-flame = { version="0.2", git="https://github.com/tokio-rs/tracing.git" }

[lib]
path = "src/lib.rs"

[features]
default = ["wisckey", "snappy-compression"]
snappy-compression = ["snap"]
# cargo doesn't support mutually exclusive features
# so all this does is enable async test, async APIs are always enabled
# when 'sync' is not set
async = []
sync = []
wisckey = []
async-io = ["tokio/fs"]

[[test]]
name = "sync-basic"
path = "tests/sync/basic.rs"
required-features = ["sync"]

[[test]]
name = "sync-reopen"
path = "tests/sync/reopen.rs"
required-features = ["sync"]

[[test]]
name = "async-basic"
path = "tests/async/basic.rs"
required-features = ["async"]

[[example]]
name = "lsm-benchmark"
path = "benchmarks/async.rs"
required-features = ["async"]
