[package]
name = "lsm"
version = "0.1.0"
authors = ["Kai Mast <kaimast@cs.cornell.edu>"]
edition = "2018"
repository = "https://github.com/kaimast/lsm-rs"
description = "An implementation of log-structured merge trees in pure Rust"
license = "MIT"
readme = "README.md"
keywords = ["storage", "database"]

[dependencies]
lru = "0.6"
parking_lot = { version="0.11" }
bincode = { version="^1.3" }
serde = { version="1", features=["derive"] }
serde_bytes = "0.11"
log = "0.4"
futures = "0.3"
snap = { version="1", optional=true }
tokio = { version="1", default-features=false, features=["rt-multi-thread", "fs", "io-util", "sync", "macros"] }

[dev-dependencies]
env_logger = { version="0.7" }
tempfile = { version="3" }

[lib]
path = "src/lib.rs"

[features]
default = ["snappy-compression"]
snappy-compression = ["snap"]
sync = []
