name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install rustc and clippy nightly
      uses: actions-rs/toolchain@v1
      with:
         profile: minimal
         toolchain: nightly
         override: true
         components: cargo, rustc, clippy, rustfmt
    - name: install just
      run: cargo install just
    - name: Tests (Async)
      run: just async-tests
    - name: Tests (Async I/O)
      run: just async-io-tests
    - name: Tests (Sync)
      run: just sync-tests
    - name: Tests (No compression)
      run: just no-compression-tests
    - name: Tests (No wisckey)
      run: just no-wisckey-tests
    - name: Tests (No wisckey + sync)
      run: just no-wisckey-tests

    #Do liniting last because it is most likely to fail
    - name: Linting (Async)
      run: just async-lint
    - name: Linting (Async I/O)
      run: just async-io-lint
    - name: Linting (Sync)
      run: just sync-lint
    - name: Linting (No WiscKey)
      run: just no-wisckey-lint
    - name: Check formatting
      run: cargo fmt --check
